{% extends "layout.html" %} {% block content %}
<section class="banner">
  <div class="div">
    <h2>
      Do you want to learn <span style="color: red;">coding?</span> Are you a
      Beginner or an Amateur? <br />
      If you can design one thing, you can design everything... <br />
      <a
        href="{{ url_for('course') }}"
        class="btn btn-outline-primary"
        role="button"
        aria-pressed="true"
        >CLICK HERE</a
      >
      to begin your <span style="color: red;">coding</span> journey.
    </h2>

    <br />
    <h1>
      Believe, Achieve, Succeed, Repeat.
    </h1>
  </div>
</section>

{% endblock %}
