{% extends "layout.html" %} {% include"includes/nav.html" %}{% block content %}
<section id="main" class="border-top pt-3">
  <div class="container">
    <h1 class="header-1">
      CODING
    </h1>
    <p id="paragraph">
      <span style="color: blue;text-decoration: underline;">Coding</span> is
      basically the computer language used to develop apps, websites and
      software. Without it, we’d have none of the major technology we’ve come to
      rely on such as Facebook, our smartphones, the browser we choose to view
      our favorite blogs or even the blogs themselves. It all runs on code.
    </p>
    <a
      href="https://learn.shayhowe.com/html-css/"
      class="btn btn-outline-primary"
      role="button"
      aria-pressed="true"
      >HTML & CSS</a
    >
    <a
      href="https://javascript.info/"
      class="btn btn-outline-secondary"
      role="button"
      aria-pressed="true"
      >LEARN JAVASCRIPT HERE</a
    >
    <a
      href="https://www.codecademy.com/learn/learn-python"
      class="btn btn-outline-danger"
      role="button"
      aria-pressed="true"
      >LEARN PYTHON HERE</a
    >
  </div>
</section>
{% endblock %}
